.banner {
  object-fit: contain;
  margin: -100px 0 20px 0;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}
.banner__content {
  margin-left: 2vw;
  height: 30vh;
  padding-top: 20vh;
  width: 50vw;
  overflow-y: scroll;
}
.banner__title {
  margin-bottom: 10px;
}
.banner__content::-webkit-scrollbar {
  display: none;
}
