.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all ease-in 0.5s;
}
.header__black {
  background-color: #111;
}
.header__left > img {
  max-height: 100px;
}
