.row {
  margin-bottom: 2vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row::-webkit-scrollbar {
  display: none;
}
.row > h2 {
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
}
.row__info {
  display: flex;
}

.row__img {
  cursor: pointer;
  object-fit: contain;
  padding: 0.5vw;
  transition: all 490ms;
}
.row__big {
  max-height: 150px;
  object-fit: contain;
  padding: 0.6vw;
}

.row__info > img:hover {
  transform: scale(1.2);
}


.movie__info{
  display: flex;
  align-items: center;

}

.info h3{
  font-weight: 500;
  font-family: sans-serif;
  color: rgb(140, 138, 138);
  margin-right: 10px;
}

.info{
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}

@media (max-width:786px){
  .movie__info{
    flex-direction: column;
  }
}